<!DOCTYPE html>
<html>
<div class="container">
    <head>
        <title>Vlozit titul - nazev konference?</title>

        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/bootstrap-grid.css">
        <link rel="stylesheet" href="../css/bootstrap-reboot.css">
        <link rel="stylesheet" href="css/default.css">
    </head>

    <header class="border mt-2">
        <div class="row mt-1 mb-1">

            <div class="col-6 ml-4 mt-5 container">
                <h1>--Název konference--</h1>
                <h2>--Popis?--</h2>
            </div>

            <div class="col-auto mr-5 container">
                <p>
                    Přihlášený uživatel {{ uzivatel | raw }}
                </p>
                <a href="#">Odhlásit</a>
            </div>
        </div>
    </header>

    <body>
    <div class="row ml-0 mr-0 mt-2 mb-2">
        <div class="col-3">
            <nav class="nav nav-pills">
                {{ nav | raw }}
            </nav>
        </div>

        <div class="border-left col-9 float-right" id="obsah">
            {{ obsah | raw }}
        </div>
    </div>
    </body>

    <footer>
        <p>Autor: Pavel Třeštík</p>
    </footer>

</div>
</html>